<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>考勤信息管理系统</display-name>	
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!-- struts2拦截器 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- log4j日志记录 -->
<!--    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name> 
        <param-value>60000</param-value>
    </context-param>-->
    <!-- 需要添加spring-web.jar包，否则用发生错误信息 -->
<!--    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
    </listener>-->
    <!-- log4j记录结束 -->

  
    <!-- 创建spring工厂监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 
    <!-- 告知spring context config location 的存储位置 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/config/applicationContext*.xml</param-value>
    </context-param>

    <!-- 定时任务 每天跑中间表数据 -->
<!--    <listener>
        <listener-class>
            com.hrbsys.task.NFDFlightDataTaskListener
        </listener-class>
    </listener>


    <listener>
        <listener-class>
            com.hrbsys.tongzhi.TongzhiTaskListener
        </listener-class>
    </listener>
    <distributable/>-->


</web-app>
